 .sidebar-profile-wrapper {
  padding: 12px;
  border-top: 1px solid #e6e6e6;
  background: #fafafa;
}

.sidebar-profile-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 14px;
  border-top: 1px solid #e5e7eb;
  background: #d4d5d7;
  transition: background 0.2s ease;
}

.sidebar-profile-btn:hover {
  background: #afb1b3;
}

.sidebar-profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
    background: linear-gradient(
    135deg,
    #64748b,
    #475569
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar-profile-text {
  text-align: left;
}

.sidebar-profile-name {
  font-weight: 600;
  font-size: 14px;
  color: #212529;
}

.sidebar-profile-sub {
  font-size: 12px;
  color: #6c757d;
} 
